<!-- begin header component html -->
<header role="banner">
    <mat-toolbar color="primary">

        <a aria-label="pharmacy" class="mat-button" mat-button="" routerlink="/" tabindex="0" aria-disabled="false" href="/">
            <span class="mat-button-wrapper">
                <!-- SVG ICON -->
                <!-- <img _ngcontent-c1="" alt="angular" class="docs-angular-logo" src="../../../assets/img/homepage/angular-white-transparent.svg"> -->
                <mat-icon>local_pharmacy</mat-icon>
                <span class="font-16 text-bold">Pharmacy</span>
            </span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </a>

        <span class="toolbar-filler"></span>

        <button type="button" aria-label="Menu" fxLayoutAlign="end" mat-icon-button (click)="toggleSideNav()" title="Open sidenav">
            <span><mat-icon aria-hidden="true" class="iconFont">menu</mat-icon></span>
        </button>

    </mat-toolbar>
</header>
<!-- end header component html -->