/* begin sidenav component css */

.sidebar-full .cardContentCss {
    width: 15rem;
    overflow: hidden;
}

.sidebar-compact .cardContentCss {
    width: 48px;
}

.sidebar-closed .cardContentCss {
    overflow: hidden;
    left: -15rem;
}

// .outerPageWrapper-sidenav {
//     width: calc(100% - 15rem);
// }
// .outerPageWrapper-withoutsidenav {
//     width: 100%;
// }
.sidebar-compact .outerPageWrapper-sidenav {
    width: calc(100% - 48px);
}

.sidebar-full .outerPageWrapper-sidenav {
    width: calc(100% - 15rem);
}

.sidebar-closed .outerPageWrapper-sidenav {
    width: 100%;
}

.mat-drawer-transition .mat-drawer-content {
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25, .8, .25, 1);
    transition-property: transform, margin-left, margin-right;
}

// .app-admin-container[vertical-nav-type=expanded][vertical-effect=side] .outerPageWrapper-sidenav {
//     // width: 100%;
// }
// .app-admin-container[vertical-nav-type=collapsed][vertical-effect=push] .outerPageWrapper-sidenav {
//     width: calc(100% - 48px);
// }
// .app-admin-container[vertical-nav-type=offcanvas][vertical-effect=over] .outerPageWrapper-sidenav {
//     width: calc(100% - 15rem);
// }
.innerPageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    // padding: 75px 14px 10px 14px;
}


/*
 * Make the Component injected by Router Outlet full height:
 */

main {
    display: flex;
    flex-direction: column;
}

main>*:not(router-outlet) {
    flex: 1;
    display: block;
}

.mat-drawer-backdrop.mat-drawer-shown {
    visibility: hidden !important;
}

.navList {
    padding-top: 0px !important;
}

.app-admin-container {
    max-width: 100%;
    height: 100vh;
}

.cardContentCss #left-panel ul {
    list-style: none;
    margin: 1.2rem;
    padding: 5px;
    li {
        padding: 5px 0px;
    }
}