<!-- begin sidebar navigation menu section -->
<mat-sidenav-container class="app-admin-container" [class.sidebar-opened]="toggleToolbar || collapsedSidenav" [class.sidebar-compact]="collapsedSidenav" [class.sidebar-full]="toggleToolbar && !collapsedSidenav" [class.sidebar-closed]="!toggleToolbar">
    <!-- begin sidenav content -->
    <mat-sidenav-content cdkscrollable>
        <div class="sidebar-panel">
            <!-- begin nav section -->
            <div class="navigation-hold ps" fxLayout="column" id="scroll-area" style="flex-direction: column;
            box-sizing: border-box;
            display: flex;">
                <div class="branding default-bg">
                    <img alt="" class="app-logo" src="assets/images/angular_logo.png">
                    <!-- <img alt="" class="app-logo-text ng-star-inserted">Angular 5 -->
                    <span class="app-logo-text">Angular 5</span>
                </div>
                <div class="quick-search">
                    <mat-form-field>
                        <input type="text" placeholder="Store" aria-label="Number" [(ngModel)]="selectedOption" name="options" matInput [matAutocomplete]="auto">
                    </mat-form-field>

                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <!-- begin ul -->
                <div class="nav sidenav-hold">
                    <div *ngIf="toggleToolbar && !collapsedSidenav">
                        <ul>
                            <ng-template ngFor let-navItem [ngForOf]="navigationMenusList">
                                <li *ngIf="isDivider(navItem)" class="nav-divider"></li>
                                <ng-template [ngIf]="isTitle(navItem)">
                                    <pharma-sidebar-nav-title [title]='navItem'></pharma-sidebar-nav-title>
                                </ng-template>
                                <ng-template [ngIf]="!isDivider(navItem)&&!isTitle(navItem)">
                                    <pharma-sidebar-nav-item [item]='navItem'></pharma-sidebar-nav-item>
                                </ng-template>
                            </ng-template>
                        </ul>
                    </div>
                    <div *ngIf="collapsedSidenav">
                        <div class="icon-menu">
                            <ul>
                                <ng-template ngFor let-navItem [ngForOf]="iconsList">
                                    <li *ngIf="isDivider(navItem)" class="nav-divider"></li>
                                    <ng-template [ngIf]="isTitle(navItem)">
                                        <pharma-sidebar-nav-title [title]='navItem'></pharma-sidebar-nav-title>
                                    </ng-template>
                                    <ng-template [ngIf]="!isDivider(navItem)&&!isTitle(navItem)">
                                        <pharma-sidebar-nav-item [item]='navItem'></pharma-sidebar-nav-item>
                                    </ng-template>
                                </ng-template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin main content -->
        <div class="main-content-wrap">
            <pharma-header (isCollapseToolbar)="isCollapseSideNav($event)" (isToggleToolbar)="getStatus($event)"></pharma-header>
            <main class="rightside-content-hold">
                <router-outlet></router-outlet>
            </main>
        </div>
        <!-- end main content -->
    </mat-sidenav-content>
    <!-- end sidenav content -->
</mat-sidenav-container>
<!-- end sidebar navigation menu section -->